# ignore python run file
*.pyc
__pycache__

# ignore large files
data*/
log
data
checkpoint*/
validate*/
checkpoints
validate
/gen_data_script/
/test_script/*
/train_script/
/log_backup
/tmp_mol
/work_script/
/wandb/
/wandb
hkqai*.ipynb
dgx1*.ipynb
local*.ipynb
data*.ipynb

*.zip
*map
submit*
!/submit_direct_array_per_gpu.py
out
*.egg-info/
*.npz
*.png
tmp_mol/*
jupyter-notebook/new_dataset/sets
jupyter-notebook/*.csv

PlotNeuralNet/

# ignore backup files
.history

# ignore latex files
*.aux
*.log
*.out
*.synctex.gz
*.toc
*.fls
*.fdb_latexmk
*.blg
*.bbl
*.Mainnote.bib

# ignore jupyter notebook checkpoints
.ipynb_checkpoints

# ignore bash
bash*
out_mkdir

# wandb files
wandb/*
sets/
